.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.about-item {
    text-align: center;
    margin: 10px;
}

.about-item img {
    width: 200px;
    height: auto;
}

.about-item p {
    margin-top: 10px;
}